@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --blue-color: #1992d4;
  --white-color: #ffffff;
  --white-svg: invert(99%) sepia(1%) saturate(4851%) hue-rotate(286deg)
    brightness(114%) contrast(101%);
  --gray-color: #e2e8f0;
  --yellow-color: #f0b429;
}

html {
  box-sizing: border-box;
  height: 100%;
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;

  background-color: var(--gray-color);
  min-height: 100%;

  display: grid;
  grid-template-columns: minmax(185px, 2fr) 8fr;
  grid-template-rows: 190px auto;
}

.sidebar {
  padding: 15px;

  z-index: 2;

  grid-row: 1 / -1;

  font-size: 20px;
  color: var(--white-color);
  background-color: var(--blue-color);
  height: 100%;

  display: flex;
  flex-direction: column;
  gap: 50px;
}

.logo-title {
  /* fz: min: 25, max: 35 */
  font-size: clamp(1.5625rem, 0.0534rem + 2.439vw, 2.1875rem);
  font-weight: 700;
}

.logo-title a {
  display: flex;
  align-items: center;
}

.dashboard-icon {
  filter: var(--white-svg);
  /* width: min: 30, max: 40 */
  width: clamp(1.875rem, 0.3659rem + 2.439vw, 2.5rem);
  margin-right: 10px;
}

.nav ul,
.other-features ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.list-item > a,
.feature-item > a {
  display: flex;
  align-items: center;
  gap: 15px;
}

.list-item > a > img,
.feature-item > a > img {
  width: clamp(1.25rem, 0.6463rem + 0.9756vw, 1.5rem);
  filter: var(--white-svg);
}

.list-item > a > span,
.feature-item > a > span {
  font-size: clamp(1.1875rem, 0.7348rem + 0.7317vw, 1.375rem);
}

.header {
  padding: 20px;

  background-color: var(--white-color);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);

  display: grid;
  gap: 15px;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}

.search {
  display: flex;
  gap: 15px;
}

.search > input {
  background-color: var(--gray-color);
  border: none;
  border-radius: 15px;
  padding: 10px;
  font-size: 1rem;
  width: 100%;
}

.search > input:focus {
  outline: 2px solid var(--blue-color);
  box-shadow: 1px 2px 5px black;
}

.user-info {
  justify-self: end;

  display: flex;
  align-items: center;
  gap: 35px;
}

.search-img,
.bell-img {
  width: 30px;
}

.user-name {
  font-size: 18px;
  font-weight: 700;
}

.pfp {
  width: 45px;
}

.pfp-big {
  width: 70px;
}

.line-break {
  font-size: 14px;
  font-weight: 700;

  display: block;
}

.user-greeting {
  display: flex;
  align-items: center;
  gap: 15px;
}

.bold {
  font-size: 24px;
  font-weight: 700;
}

.header-buttons {
  display: flex;
  justify-content: end;
  gap: 30px;
}

.header-buttons button {
  padding: 10px 26px;
  font-weight: 700;
  background-color: var(--blue-color);
  color: var(--white-color);
  border-radius: 15px;
  border: none;
}

.main {
  padding: 15px;

  display: grid;
  gap: 15px;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2, auto);
}

.main-left {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 30px;
  gap: 15px;
  grid-auto-rows: 250px;
}

.main-title {
  font-weight: 700;
  grid-column: 1 / -1;
}

.main-left {
  grid-row: 1 / -1;
}

.card {
  padding: 15px;
  background-color: var(--white-color);
  border-radius: 10px;

  position: relative;

  border-left: 10px solid var(--yellow-color);
}

.card-title {
  font-weight: 700;
  margin-bottom: 10px;
}

.card-description {
  font-size: 14px;
  color: rgb(101, 101, 101);

  max-height: 130px;
  overflow: auto;
}

.main-icons {
  position: absolute;
  right: 20px;
  bottom: 20px;

  display: flex;
  gap: 20px;
}

.main-icons > * {
  width: 25px;
}

.main-right-top,
.main-right-bottom {
  display: grid;
  grid-template-rows: 30px auto;
  gap: 15px;
}

.main-right-top {
  grid-template-rows: 30px auto auto;
}

.container {
  background-color: var(--white-color);
  padding: 50px 30px 45px 30px;

  border-radius: 20px;

  display: flex;
  flex-direction: column;
  gap: 40px;
}

.announcement-card {
  position: relative;
}

.announcement-title {
  font-weight: 700;
  margin-bottom: 5px;
}

.announcement-description {
  font-size: 14px;
  color: rgb(101, 101, 101);
}

.announcement-card:not(:last-of-type)::after {
  content: "";
  position: absolute;
  bottom: -20px;
  width: 100%;
  border: 1px solid var(--gray-color);
}

.container.small {
  padding: 30px;
  gap: 0;
  justify-content: space-between;
}

.trending-card {
  display: flex;
  align-items: center;
  gap: 20px;
}

.trending-user-description {
  color: #8a8a8a;
}

